.hcontainer{

    width: 1600px;
    height: 700px;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 150px;
    padding-top: 50px;

    display: flex;
    justify-content: flex-start;    
    align-items: center;
    flex-direction: column;
    gap: 10px
}

.guidelabelcontainer{
    width: 1450px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
   
}
.helptext{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 90px;
    padding-right: 90px;
}
.help{
    font-size: 50px;
}

.helpcontentcontainer{
    width: 1450px;
    height: 400px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;;
    flex-wrap: wrap;
    gap: 20px;
    

}

.guidecontainer{
    width: 400px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.32);
    display: flex;
    transition: 0.5s;
    border-radius: 20px;
    
}

.guidecontainer:hover{
    width: 400px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    display: flex;
}

.guidecontainer:active{
    width: 400px;
    height: 150px;
    background-color: #0002424b;
    box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 7px 19px 3px rgba(0,0,0,0.26);
    display: flex;
    transition:0.1s;
}

.iconguide{
    display: flex;
    padding-left: 30px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.contacticon{
    width: 70px;
}
.guidetextcontainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.guideheader{
    color:black;
}
.guidetext{
    color: black;
    font-size: 14px;
    text-align: center;
}
