*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
}
#preloader{
    background: rgb(255, 255, 255) url(../dashboard/preloader.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 400;
}
html{
    height: 100%;
    /*background-color: red;*/
}
body {
    min-height: 100%;
    /*background-color: green;*/
    
}

/***sidebar***/
.sidebarcontainer{
    height: 100%;
    width: 23rem;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(146, 120, 120, 0);
    box-shadow: 2px 0px 29px -8px rgba(0,0,0,0.82);
    -webkit-box-shadow: 2px 0px 29px -8px rgba(0,0,0,0.82);
    -moz-box-shadow: 2px 0px 29px -8px rgba(0,0,0,0.82);
    padding: 0.9em 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    z-index: 100;
    gap: 1.25em;
    
}
/**top**//**top**//**top**//**top**//**top**//**top**/
.sidebarcontainer .topbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.3em;
    padding:0.3em;
}
.sidebarcontainer .topbar .logoname{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.sidebarcontainer .topbar img{
    width: 40px;
}
.sidebarcontainer .topbar h1{
    font-size: 2rem;
    color: #000235;
    /* font-weight: 600; */
    font-family: 'Kanit', sans-serif;
}
.sidebarcontainer .minitext{
    font-size: 0.6rem;
    color: #000235;
    display: flex;
    align-items: flex-end;
    height: 1.87em;
    width: 100%;
    margin-left: -0.62em;
    font-family: 'Kanit', sans-serif;
}
/**top**//**top**//**top**//**top**//**top**//**top**/




/**Toggle Button**//**Toggle Button**//**Toggle Button**/
.sidebarcontainer .togglecont{
    height: auto;
    width: 100%;
    display: flex;
    margin-left: 80px;
    justify-content: flex-end;
    align-items: center;

}
.sidebarcontainer .toggle{
    height: auto;
    width: 50px;
    font-size: 30px;
    padding: 10px 10px;
    border-radius:50px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}
/**Toggle Button**//**Toggle Button**//**Toggle Button**/






/**mainbar**//**mainbar**//**mainbar**//**mainbar**/
.sidebarcontainer .mainbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    padding: 0.312em;
    
}
.sidebarcontainer .mainbar h2{
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
}
.sidebarcontainer .mainbar i{
    font-size: 2.8rem;
}
.sidebarcontainer .tab_button{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1.25em;
    transition: 0.3s;
    border: none;
}
.sidebarcontainer .tab_button:hover{
    border-width: 0.18em;
    border-color: black;
    border-style:dashed;
    background-color: rgb(247, 0, 0);
}
.sidebarcontainer .tab_button:active{
    border-width: 0.18em;
    border-color: black;
    border-style:dashed;
    background-color: rgb(115, 101, 190);
}

.sidebarcontainer .tab_button.active{
    border-width: 0.18em;
    border-color: black;
    border-style:double;
    
    background-color: rgb(13, 175, 13);
}
/**mainbar**//**mainbar**//**mainbar**//**mainbar**/




/***Sidebar control***//***Sidebar control***/
.sidebarcontainer.close{
    width: 5.5rem;
}
.sidebarcontainer.close h1{
    transition: 0.2s;
    opacity: 0;
}
.sidebarcontainer.close h2{
    transition: 0.2s;
    opacity: 0;
}
.sidebarcontainer.close .minitext{
    transition: 0.2s;
    opacity: 0;
}
#main.open{
    left: 5.5rem;
    width: calc(100% - 5.5rem);
    /*background-color: blue;*/
    height: 100%;
    
    
}

[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: flex;
    min-height: 100%;
    width: 100%;
    
    /*background-color: rgb(197, 24, 145);*/
}

#bground.inactive{
    display: none;
    
}
/***Sidebar control***//***Sidebar control***/
#main{
    left: 23rem;
    width: calc(100% - 23rem);
    height: 100%;
    top:0;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
    
    /*background-color: aqua;*/
    
    
}

#bground{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
   
}
.tab-content{
    height: 100%;
    width: 100%;
    /*background-color: yellow;*/
    
}
.tab-content .coverpage{
    min-height: auto;
    width: auto;
    position: absolute;
    font-size: 5rem;
    padding: 1em;
    border-radius: 1em;
    font-family: 'Kanit', sans-serif;
    text-shadow: 0px 0px 14px rgba(0,0,0,0.9);
}


.active#passwordmanager{
    width: 100%;
    height: 100vh;
    display: grid;
    padding: 2em;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10% 90%;
    column-gap: 1em;
}
#passwordmanager .passman-header{
    grid-column: 1 / -1;
    /*background-color: green;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7em 3em;
}
#passwordmanager .passman-header .left-header{
    width: 78%;
    height: 100%;
    
    border: 2px solid rgba(0, 0, 0, 0.26);
    border-radius: 13px;
}
#passwordmanager .passman-header .right-header{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    gap: .8em;
    /*background-color: purple;*/
}
#passwordmanager .passman-header .right-header .bx-user-circle{
    font-size: 3em;
}
#passwordmanager .passman-header .right-header .email-rightheader{
    height: 100%;
    width: 100%;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#passwordmanager .passman-main{
    border: 2px solid rgba(0, 0, 0, 0.26);
    border-radius: 13px;
    padding: .7em;
}
#passwordmanager .passman-side{
    border: 2px solid rgba(0, 0, 0, 0.26);
    border-radius: 13px;
    padding: .7em;
}


.active#passwordgenerator{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}


.active#notes{
    width: 100%;
    height: auto;
    padding: 2em;
    font-family: 'Inter', sans-serif;
}
/*#notes .notes-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 1em;
    row-gap: 1em;
    column-gap: 1em;
    position: relative;
}
.note{
    height: 200px;
    box-sizing: border-box;
    padding: 1em;
    border: none;
    border-radius: 15px;
    box-shadow: -1px -1px 27px -7px rgba(0,0,0,0.85);
    -webkit-box-shadow: -1px -1px 27px -7px rgba(0,0,0,0.85);
    -moz-box-shadow: -1px -1px 27px -7px rgba(0,0,0,0.85);
    overflow-wrap: break-word;
}
.add-note{
    height: 200px;
    border: none;
    background: none;
    font-size: 5rem;
    border-radius: 30px;
    color: rgba(0, 128, 0, 0.479);
    transition: 0.1s;
}
.add-note:hover{
    height: 200px;
    background-color: rgba(0, 128, 0, 0.164);
    font-size: 5rem;
    border-radius: 30px;
    color: rgba(0, 128, 0, 0.479);
}







/******
.main-containernotes{
    width: 85%;
    height: 80vh;
    padding: 3em 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    position: absolute;
    top:8%;
    left: 8%;
    
    box-shadow: 0px 1px 27px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 27px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 27px -4px rgba(0,0,0,0.75);
    border-radius: 1rem;
    
}

**/





